.section {
  background-color: #f6f6f8;
  min-height: 90vh;
  padding-left: 30px;
  padding-top: 20px;
}

@media screen and (max-width: 1000px) {
  .section {
    min-height: 125vh;
  }
}

.section h1 {
  color: #0e3145;
  margin-bottom: 20px;
}

.section h2 {
  margin-bottom: 20px;
}

.cards {
  display: flex;
  gap: 40px;
}
