.card {
  width: 100%;
  min-height: 180px;
  color: white;
  background-color: #0e3145;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttons {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}
