.button {
  background-color: #3cd7c7;
  border: none;
  border-radius: 10px;
  width: 110px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s, opacity 0.3s;
}

.button:hover {
  background-color: #32b2b2;
  opacity: 0.9;
}
