.header {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  padding: 30px;
  height: 10vh;
  align-items: center;
  border: 1px solid #f0f0f0;
}

.rightContainer {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .header {
    width: 100vw;
  }
}

@media screen and (max-width: 600px) {
  .header {
    width: 100vw;
  }
}
